.login-form  {
    background: url(../../../assets/images/02.png) no-repeat 0 0;
    position: inherit;
}

.error{
  color: red;
  font-size: 10px;
  text-align: left;
  height: 5px;
}
button{
  background-color: Transparent;
  border: 0;
}
