<app-header-component></app-header-component>
<section class="login-form login-img dark-bg page-section-ptb100 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="login-1-form clearfix text-center">
          <h4 class="title divider-3 text-white">SIGN IN</h4>

          <div *ngIf="showSignInMessage" class="section-field text-uppercase text-center mt-2">
            <ul class="list-inline text-center">
              <li><a class="authErrorBubble">Please sign in for continue.</a></li>
            </ul>
          </div>

          <div *ngIf="showErrorMessage" class="section-field text-uppercase text-center mt-2">
            <ul class="list-inline text-center">
              <li><a class="authErrorBubble">{{ errorMessage }}</a></li>
            </ul>
          </div>

          <div *ngIf="showLoggedOutMessage" class="section-field text-uppercase text-center mt-2">
            <ul class="list-inline text-center">
              <li><a class="successBubble"> Signed out successfully </a></li>
            </ul>
          </div>

          <div *ngIf="showSignUpMessage" class="section-field text-uppercase text-center mt-2">
            <ul class="list-inline text-center">
              <li><a class="successBubble"> You have signed up successfully </a></li>
            </ul>
          </div>

          <form (submit)="onSubmit()" [formGroup]="myForm">
            <div class="section-field mb-2">
              <div class="field-widget"> <i class="glyph-icon flaticon-user" [style.color]="this.router.url == '/login/authError' || (myForm.controls.email.invalid && myForm.controls.email.touched) ? 'red' : 'white'"></i>
                <input id="email" formControlName="email" class="web" type="text" placeholder="E-mail address" >
              </div>
              <div class="error">
                <p *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched">Bad e-mail format!</p>
              </div>
            </div>
            <div class="section-field mb-1">
              <div class="field-widget"> <i class="glyph-icon flaticon-padlock" [style.color]="this.router.url == '/login/authError' ? 'red' : 'white'"></i>
                <input id="Password" formControlName="password" class="Password" type="password" placeholder="Password" name="Password">
              </div>
            </div>
            <div class="section-field text-uppercase"> <a href="#" class="float-right text-white">Forgot Password?</a> </div>
            <div class="clearfix"></div>
            <div class="section-field text-uppercase text-center mt-2">
              <a class="button  btn-lg btn-theme full-rounded animated right-icn">
                <button [disabled]="pendingProcess" type="submit">
                  <span *ngIf="!pendingProcess">sign in<i aria-hidden="true" class="glyph-icon flaticon-hearts"></i></span>
                  <div *ngIf="pendingProcess" class="spinner-border text-warning" role="status">
                  </div>
                </button>
              </a>
            </div>
            <div class="clearfix"></div>
            <div class="section-field mt-2 text-center text-white">
              <p class="lead mb-0">Don’t have an account? <a class="text-white" routerLink="/registration" routerLinkActive="active"><u>Register now!</u> </a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-component></app-footer-component>
