element.style {
    background: url(../../../assets/images/02.png) no-repeat 0 0;
    position: inherit;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
.dark-bg {
    background: #000000;
}
.page-section-ptb100 {
    padding: 25px 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    color: #3d3d3d;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*[_ngcontent-txc-c1], *[_ngcontent-txc-c1]::before, *[_ngcontent-txc-c1]::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
[_ngcontent-txc-c1]::selection {
    background: #ffbc05;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #ffbc05;
    color: #fff;
    text-shadow: none;
}