<app-header-component></app-header-component>
<section class="inner-intro details-page bg bg-fixed bg-overlay-black-20 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-cntn text-white">
                    <ul>
                        <li><img src="../../../assets/images/profile/01.jpg" alt="" width="150" height="150" /></li>
                        <li>
                            <div class="profile-text">
                                <h2>{{user.name}}</h2>
                                <h5>25 Years Old USA</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="page-section-ptb pt-10 text-left">
    <div class="container">
        <div class="row mt-5 sm-mt-0">
            <div class="col-md-12 ">
                <h4 class="title divider-3 mb-5 sm-mb-3">Basic Details</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered text-center mb-0">
                        <tbody>
                           <!--  <tr>
                                <td>Gender</td>
                                <td>{{user.gender}}</td>
                                <td>Height</td>
                                <td>{{user.height}}</td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Eye color</td>
                                <td>{{user.eyeColor}}</td>
                                <td>Hair color</td>
                                <td>{{user.hairColor}}</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>{{user.city}}</td>
                                <td>Horoscope</td>
                                <td>{{user.horoscope}}</td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Birth Year</td>
                                <td>{{user.birthYear}}</td>
                                <td>Smoking</td>
                                <td>{{user.isSmoking}}</td>
                            </tr>
                            <tr>
                                <td>Looking for a</td>
                                <td>{{user.intrestedIn}}</td>
                                <td>Body shape</td>
                                <td>{{user.bodyShape}}</td>
                            </tr>
 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <a class="button btn-lg full-rounded btn-colored animated right-icn col align-self-end"><span>Change your parameters<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a>

        <div class="row mt-5 sm-mt-3">
            <div class="col-md-12 text-left">
                <h4 class="title divider-3 mb-5 sm-mb-3">About Me</h4>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis iste natus error
                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                    est, qui dolorem
                    ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                    incidunt ut labore et dolore
                    magnam aliquam quaerat voluptatem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit. in voluptate velit esse
                    cillum dolore eu fugiat nulla
                </p>
            </div>
        </div>

        <a class="button btn-lg full-rounded btn-colored animated right-icn col align-self-end"><span>Change your introduction<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a>


       <h4 class="title divider-3 mb-5 sm-mb-3" style="padding-top: 40px;">Things I'm interested in</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered text-center mb-0">
                        <tbody>
                            <tr>
                                <td>Movies</td>
                                <td><input type="checkbox"  disabled></td>
                                <td>Sports</td>
                                <td><input type="checkbox"  disabled></td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Music</td>
                                <td><input type="checkbox" disabled></td>
                                <td>Books</td>
                                <td><input type="checkbox"  disabled></td>
                            </tr>
                            <tr>
                                <td>Culture</td>
                                <td><input type="checkbox"  disabled></td>
                                <td>Travel</td>
                                <td><input type="checkbox"  disabled></td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Technology</td>
                                <td><input type="checkbox"  disabled></td>
                                <td>Politics</td>
                                <td><input type="checkbox" :checked disabled></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a class="button btn-lg full-rounded btn-colored animated right-icn col align-self-end"><span>Change your interests<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a>
    </div>
    
    
</section>



<app-footer-component></app-footer-component>