<app-header-component></app-header-component>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-firststeps *ngIf="!isUsable"></app-firststeps>


<div *ngIf="!pageReady" id="preloader">
    <div class="clear-loading loading-effect"><img alt="" src="../../../assets/images/loading.gif"></div>
</div>

<section *ngIf="isUsable" class="inner-intro details-page bg bg-fixed bg-overlay-black-20 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-cntn text-white" *ngIf="user">
                    <ul>
                        <!-- ../../../assets/images/profile/01.jpg -->
                        <li><img src="https://intense-meadow-41798.herokuapp.com{{user.imgUrl}}" alt="" width="150"
                                height="150" /></li>
                        <li>
                            <div class="profile-text">
                                <h2>{{user.name}}</h2>
                                <h5>{{user.age}} Years Old, {{user.city}}</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<section *ngIf="user && isUsable && (router.url == '/profiles/myProfile' || router.url == '/profiles/myProfile/successFirstSetup')" class="page-section-ptb pt-10 text-left" style="padding: 0px 0;">
  <div class="container">
    <div class="row mt-5 sm-mt-0">
      <div class="col-md-12 ">
        <h4 class="title divider-3 sm-mb-3">Profile options</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-modify-user-modal></app-modify-user-modal>
      </div>
    </div>
  </div>
</section>

<section *ngIf="user && isUsable" class="page-section-ptb pt-10 text-left" style="padding: 0px 0;">
    <div class="container">
        <div class="row mt-5 sm-mt-0">
            <div class="col-md-12 ">
                <h4 class="title divider-3 mb-5 sm-mb-3">Basic Details</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered text-center mb-0">
                        <tbody>
                            <tr>
                                <td>Gender</td>
                                <td>{{user.gender}}</td>
                                <td>Height</td>
                                <td>{{user.height}}</td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Eye color</td>
                                <td>{{user.eyeColor}}</td>
                                <td>Hair color</td>
                                <td>{{user.hairColor}}</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>{{user.city}}</td>
                                <td>Horoscope</td>
                                <td>{{user.horoscopeEnum}}</td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Birth Year</td>
                                <td>{{user.birthYear}}</td>
                                <td>Smoking</td>
                                <td *ngIf="user.isSmoking"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.isSmoking"><input type="checkbox" disabled></td>
                            </tr>
                            <tr>
                                <td>Looking for a</td>
                                <td>{{user.interest}}</td>
                                <td>Body shape</td>
                                <td>{{user.bodyShape}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="row mt-5 sm-mt-3">
            <div class="col-md-12 text-left">
                <h4 class="title divider-3 mb-5 sm-mb-3">About Me</h4>
                <p class="mb-0">{{user.aboutMe}}
                </p>
            </div>
        </div>




        <h4 class="title divider-3 mb-5 sm-mb-3" style="padding-top: 40px;">Things I'm interested in</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered text-center mb-0" style="margin-bottom: 10px;">
                        <tbody>
                            <tr>
                                <td>Movies</td>
                                <td *ngIf="user.likesMovies"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesMovies"><input type="checkbox" disabled></td>
                                <td>Sports</td>
                                <td *ngIf="user.likesSports"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesSports"><input type="checkbox" disabled></td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Music</td>
                                <td *ngIf="user.likeMusic"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesMusics"><input type="checkbox" disabled></td>
                                <td>Books</td>
                                <td *ngIf="user.likesBooks"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesBooks"><input type="checkbox" disabled></td>
                            </tr>
                            <tr>
                                <td>Culture</td>
                                <td *ngIf="user.likesCulture"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesCulture"><input type="checkbox" disabled></td>
                                <td>Travel</td>
                                <td *ngIf="user.likesTravel"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesTravel"><input type="checkbox" disabled></td>
                            </tr>
                            <tr class="tr-bg">
                                <td>Technology</td>
                                <td *ngIf="user.likesTechnology"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesTechnology"><input type="checkbox" disabled></td>
                                <td>Politics</td>
                                <td *ngIf="user.likesPolitics"><input type="checkbox" :checked disabled></td>
                                <td *ngIf="!user.likesPolitics"><input type="checkbox" disabled></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</section>



<app-footer-component></app-footer-component>