<div class="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            <!-- menu start -->
            <nav id="menu" class="mega-menu"> 
              <!-- menu list items container -->
              <section class="menu-list-items"> 
                <!-- menu logo -->
                <ul class="menu-logo">
                  <li><a href="index-default.html"><img id="logo_color_img" src="images/dark-logo.png" alt="logo" /> </a></li>
                </ul>
                <!-- menu links -->
                <ul class="menu-links">
                  <!-- active class -->
                  <li class="active"><a href="javascript:void(0)"> Home <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel left-menu">                      
                      <li><a href="index-3.html">Home v3</a></li>
                    </ul>
                  </li>
                  <li><a href="javascript:void(0)">Profiles <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel left-menu">
                      <li><a href="profile.html">Profiles 01</a></li>                     
                    </ul>
                  </li>                 
                  <li><a href="javascript:void(0)"> Pages <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <!-- drop down full width -->
                    <div class="drop-down grid-col-12"> 
                      <!--grid row-->
                      <div class="grid-row"> 
                        <!--grid column 3-->                        
                        <div class="grid-col-3">
                          <ul>
                            <li><a href="login.html">Login 01</a></li>                            
                            <li><a href="register.html">Register 01</a></li>                            
                            <li><a href="step.html">Step</a></li>
                          </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                          <ul>
                            <li><a href="error-404.html"> 404 Error </a></li>                           
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>               
                  <li><a href="javascript:void(0)"> Contact <i class="fa fa-angle-down fa-indicator"></i></a> 
                    <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel right-menu">         
                      <li><a href="contact-2.html">Contact 2</a></li>                      
                    </ul>
                  </li>
                </ul>
              </section>
            </nav>
          </div>
        </div>
      </div>
    </div>
