.menu {
    background: linear-gradient(90deg, rgba(0,0,0,1) 43%, rgba(121,9,9,1) 100%);
    position: relative;
    z-index: 1;
    
}
.dropdown-item.active, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color:white;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #ffbc05;
}

.mega-menu{
    padding-top: 30px;
    bottom: 12px;
}
