<div class="menu" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- menu start -->
      
        <nav id="menu" class="mega-menu">
          <!-- menu list items container -->
          <section class="menu-list-items">
            <!-- menu logo -->
            <ul class="menu-logo">
              <li><a routerLink="/main"><img id="logo_color_img" src="/assets/images/dark-logo.png" alt="logo" /> </a>
              </li>
            </ul>
            <!-- menu links -->
            <ul class="menu-links ">
              <!-- active class -->
              <li class="active"><a routerLink="/main"> Home</a>
              </li>
              <li><a routerLink="/messages"> Messages</a>
              </li>
              <li class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">

                <a href="#" ngbDropdownAnchor (focus)="myDrop.open()" (click)="$event.preventDefault()">Profiles

                  <div ngbDropdownMenu aria-labelledby="navbarDropdown1">

                    <button ngbDropdownItem routerLink="/profiles/myProfile" routerLinkActive="active">My Profile</button>
                    <button ngbDropdownItem routerLink="/profiles" routerLinkActive="active">Profiles</button>

                  </div>
                </a>

              </li>
              <li><a routerLink="/contact" routerLinkActive="active"> Contact </a>
              </li>

              <li #myDrop2="ngbDropdown" *ngIf="!isLogged()" class="d-inline-block" ngbDropdown>
                <a href="#" ngbDropdownAnchor (focus)="myDrop2.open()" (click)="$event.preventDefault()">Sign in /
                  Registration
                  <div ngbDropdownMenu aria-labelledby="navbarDropdown2">
                    <button ngbDropdownItem routerLink="/login" routerLinkActive="active">Login</button>
                    <button ngbDropdownItem routerLink="/registration" routerLinkActive="active">Sign up</button>
                  </div>

                </a>
              </li>
              <li *ngIf="isLogged()"><a (click)="signOut()" href="javascript:void(0);"> Sign out </a></li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>
</div>
