<section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url(../../../assets/images/other-page-picture.jpg);">
  <div class="container">
    <div class="row intro-title text-center" style="margin-top: 7%; margin-left: 0; margin-right: 0;">
      <div class="col-md-12">
        <div class="section-title">
          <h1 class="position-relative divider">register 1<span class="sub-title w-100">register 1</span></h1>
        </div>
      </div>
      <div class="col-md-12 mt-7">
        <ul class="page-breadcrumb">
          <li><a href="index-default.html"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><a href="register.html">Pages</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>register 1</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
