<section class="form-1 py-3">
  <form (submit)="onSearchClick()" [formGroup]="form">
  <div class="container">
    <div class="banner-form">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group row">
            <div class="col-lg-4 col-md-12">
              <label class="control-label text-white">I am a</label>
            </div>
            <div class="col-lg-8 col-md-12">
              <select class="selectpicker" formControlName="ownGender">
                <option value="Man">Man</option>
                <option value="Woman">Woman</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group row">
            <div class="col-lg-5 col-md-12">
              <label class="control-label text-white">Seeking a</label>
            </div>
            <div class="col-lg-7 col-md-12">
              <select class="selectpicker" formControlName="targetGender">
                <option value="Man">Man</option>
                <option value="Woman">Woman</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-lg-4 col-md-12">
                  <label class="control-label text-white">From</label>
                </div>
                <div class="col-lg-8 col-md-12">
                  <select class="selectpicker" formControlName="ageMin">
                    <option *ngFor="let age of agePicker" [value]="age">{{age}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-lg-4 col-md-12">
                  <label class="control-label text-white pl-0">To</label>
                </div>
                <div class="col-lg-8 col-md-12">
                  <select class="selectpicker" formControlName="ageMax">
                    <option *ngFor="let age of agePicker" [value]="age">{{age}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"><a class="button btn-lg btn-theme full-rounded animated right-icn" (click)="onSearchClick()"><span>search <i class="glyph-icon flaticon-hearts"
                aria-hidden="true"></i></span></a></div>
      </div>
    </div>
  </div>
  </form>
</section>