select{
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #c7b7cf;
  height: 50px;
  padding-left: 20px;
  color: white;
}

.form-1 {
  background: #00000073;
  margin-bottom: -90px;
  position: relative;
  top: -88px;
  width: 100%;
  z-index: 9;
}
