<section class="form-1 py-3">
  <div class="container" (submit)="submit()" [formGroup]="form">
    <div class="banner-form">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group row">
            <div class="col-lg-4 col-md-12">
              <label class="control-label text-white">I am a</label>
            </div>
            <div class="col-lg-8 col-md-12">
              <select class="selectpicker" [formControl]=ownGender>
                <option>Man</option>
                <option>Woman</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group row">
            <div class="col-lg-5 col-md-12">
              <label class="control-label text-white">Seeking a</label>
            </div>
            <div class="col-lg-7 col-md-12">
              <select class="selectpicker" [formControl]="targetGender">
                <option>Man</option>
                <option>Woman</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-lg-4 col-md-12">
                  <label class="control-label text-white">From</label>
                </div>
                <div class="col-lg-8 col-md-12">
                  <select class="selectpicker" [formControl]="ageMin">
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                    <option>46</option>
                    <option>47</option>
                    <option>48</option>
                    <option>49</option>
                    <option>50</option>
                    <option>51</option>
                    <option>52</option>
                    <option>53</option>
                    <option>54</option>
                    <option>55</option>
                    <option>56</option>
                    <option>57</option>
                    <option>58</option>
                    <option>59</option>
                    <option>60</option>
                    <option>61</option>
                    <option>62</option>
                    <option>63</option>
                    <option>64</option>
                    <option>65</option>
                    <option>66</option>
                    <option>67</option>
                    <option>68</option>
                    <option>69</option>
                    <option>70</option>
                    <option>71</option>
                    <option>72</option>
                    <option>73</option>
                    <option>74</option>
                    <option>75</option>
                    <option>76</option>
                    <option>77</option>
                    <option>78</option>
                    <option>79</option>
                    <option>80</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-lg-4 col-md-12">
                  <label class="control-label text-white pl-0">To</label>
                </div>
                <div class="col-lg-8 col-md-12">
                  <select value="36" class="selectpicker" [formControl]="ageMax">
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                    <option>46</option>
                    <option>47</option>
                    <option>48</option>
                    <option>49</option>
                    <option>50</option>
                    <option>51</option>
                    <option>52</option>
                    <option>53</option>
                    <option>54</option>
                    <option>55</option>
                    <option>56</option>
                    <option>57</option>
                    <option>58</option>
                    <option>59</option>
                    <option>60</option>
                    <option>61</option>
                    <option>62</option>
                    <option>63</option>
                    <option>64</option>
                    <option>65</option>
                    <option>66</option>
                    <option>67</option>
                    <option>68</option>
                    <option>69</option>
                    <option>70</option>
                    <option>71</option>
                    <option>72</option>
                    <option>73</option>
                    <option>74</option>
                    <option>75</option>
                    <option>76</option>
                    <option>77</option>
                    <option>78</option>
                    <option>79</option>
                    <option>80</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"><a class="button btn-lg btn-theme full-rounded animated right-icn"
            [formControl]="pageNumber" (click)="onSearchClick()"><span>search <i class="glyph-icon flaticon-hearts"
                aria-hidden="true"></i></span></a></div>
      </div>
    </div>
  </div>
</section>