<ng-template #picture let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload new profile picture</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 pr-15" style="text-align: center;">
            <img alt="" class="img-center w-70" src="https://intense-meadow-41798.herokuapp.com{{currentUser.imgUrl}}">
          </div>
        </div>
        <input
          #fileInput
          (change)="onFileChanged($event)" style="display: none"
          type="file">
      </div>
      <div *ngIf="!uploadSuccess" class="section-field text-uppercase text-center mt-2">
        <a class="button btn-dark btn-sm full-rounded">
          <button (click)="fileInput.click()" class="transparent_button">
            <span *ngIf="!pendingUpload"><i aria-hidden="true" class="fa fa-file-image-o"></i> import & upload</span>
            <div *ngIf="pendingUpload" class="spinner-border text-warning" role="status">
            </div>
          </button>
        </a>
      </div>
      <div *ngIf="uploadSuccess" class="section-field text-uppercase text-center mt-2">
        <span style="font-size: 15px;">
          <a class="successBubble"> <i class="fa fa-check"></i> </a>
        </span>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #profilesetup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Profile settings</h4>
    <button (click)="modal.close('Save click')" class="btn btn-outline-dark" type="button">Save</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #searchpreference let-modal style="border: 1px solid black;">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title3">Search preference</h4>
    <button (click)="onSubmit()" class="btn btn-outline-dark" type="button">Save</button>
  </div>
  <div class="modal-body">
    <form (submit)="onSubmit()" [formGroup]="myForm" class="text-center mt-3">
      <div class="row setup-content" id="step-2">
        <div class="col-md-12">
          <div class="row  justify-content-center">
            <div class="col-md-12 text-left text-capitalize text-white">
              <div class="form-group sm-mt-2">
                <label class="title divider-3 mb-3">intrested in</label>
                <div class="col-md-4">
                  <div class="radio">
                    <input checked="checked" formControlName="interest" id="interestedFemale" name="interest" type="radio" value="WOMAN">
                    <label for="interestedFemale">female</label>
                  </div>
                </div>
                <div class="col-md-4 sm-mt-2">
                  <div class="radio">
                    <input formControlName="interest" id="interestedMale" name="interest" type="radio" value="MAN">
                    <label for="interestedMale">male</label>
                  </div>
                </div>
              </div>
              <div class="form-group sm-mt-2">
                <label class="title divider-3 mb-3">age preference</label>
                <div class="row sm-mt-2">
                  <div class="col-md-6">
                    <div class="section-field mb-2">
                      <div class="field-widget">
                        <select formControlName="minAge" id="preferenceFrom">
                          <option selected value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="field-widget">
                      <select formControlName="maxAge" id="preferenceUntil">
                        <option selected value="80">80</option>
                        <option value="64">64</option>
                        <option value="63">63</option>
                        <option value="62">62</option>
                        <option value="61">61</option>
                        <option value="60">60</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<a class="button btn-dark btn-sm full-rounded " style="margin-right: 5px;"><button (click)="open(picture)" class="transparent_button"><span><i class="fa fa-camera"></i> Profile picture</span></button></a>
<a class="button btn-dark btn-sm full-rounded " style="margin-right: 5px;"><button (click)="open(profilesetup)" class="transparent_button"><span><i class="fa fa-user"></i> Setup profile</span></button></a>
<a class="button btn-dark btn-sm full-rounded " style="margin-right: 5px;"><button (click)="open(searchpreference)" class="transparent_button"><span><i class="fa fa-search"></i> Search preference</span></button></a>
