<app-header-component></app-header-component>
<section class="login-form register-img dark-bg page-section-ptb" >
    <div class="container">
      <div class="row  justify-content-center">
        <div class="col-md-6">
          <div class="login-1-form register-1-form clearfix text-center">
              <form (submit)="onSubmit()" [formGroup]="myForm">
              <h4 class="title divider-3 text-white mb-3">sign up</h4>
              <div class="section-field mb-3">
                <div class="errorLine field-widget"> <i class="glyph-icon flaticon-user" [style.color]="myForm.controls.name.invalid && myForm.controls.name.touched ? 'red' : 'white'"></i>
                  <input formControlName="name" type="text" placeholder="Nickname">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.name.invalid && myForm.controls.name.touched">This field is required!</p>
                </div>
              </div>
              <div class="section-field mb-3">
                <div class="field-widget"> <i class="fa fa-envelope-o" aria-hidden="true" [style.color]="myForm.controls.email.invalid && myForm.controls.email.touched ? 'red' : 'white'"></i>
                  <input formControlName="email" type="text" placeholder="Email">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched">Bad e-mail format!</p>
                </div>
              </div>
                <div class="section-field mb-3">
                  <div class="field-widget"> <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    <input formControlName="birthDate" type="text" placeholder="YYYY-MM-DD">
                  </div>
                </div>
              <div class="section-field mb-3">
                <div class="field-widget"> <i class="glyph-icon flaticon-padlock" [style.color]="myForm.controls.password.invalid && myForm.controls.password.touched ? 'red' : 'white'"></i>
                  <input formControlName="password" id="Password" class="Password" type="password" placeholder="Password">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.password.invalid && myForm.controls.password.touched">This field is required!</p>
                </div>
              </div>
              <div class="section-field mb-3">
                <div class="field-widget"> <i class="glyph-icon flaticon-padlock" [style.color]="myForm.controls.password.touched && myForm.controls.passWd2.touched && (myForm.controls.password.value != myForm.controls.passWd2.value) ? 'red' : 'white'"></i>
                  <input formControlName="passWd2" id="ConfirmPassword" class="Password" type="password" placeholder="Confirm Password">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.password.touched && myForm.controls.passWd2.touched && (myForm.controls.password.value != myForm.controls.passWd2.value)">Passwords not same!</p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="section-field text-uppercase text-center mt-2">
                <a class="button btn-lg btn-theme full-rounded animated right-icn">
                  <button type="submit">
                    <span>next<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span>
                  </button>
                </a>
              </div>
              <div class="clearfix"></div>
              <div class="section-field mt-2 text-center text-white">
                <p class="lead mb-0">Have an account? <a class="text-white" routerLink="/login" routerLinkActive="active" ><u>Sign In!</u> </a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer-component></app-footer-component>
