<section class="login-form register-img dark-bg page-section-ptb" style="background: url(../../../assets/images/pattern/04.png) no-repeat 0 0; background-size: cover;">
    <div class="container">
      <div class="row  justify-content-center">
        <div class="col-md-6">
          <div class="login-1-form register-1-form clearfix text-center">
              <form (submit)="onSubmit()" [formGroup]="myForm">
              <h4 class="title divider-3 text-white mb-3">sign up</h4>
              <div class="section-field mb-3">
                <div class="field-widget"> <i class="glyph-icon flaticon-user"></i>
                  <input formControlName="nickName" type="text" placeholder="Nickname">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.nickName.invalid && myForm.controls.nickName.touched"> * This field is required!</p>
                </div>
              </div>
              <div class="section-field mb-3">
                <div class="field-widget"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <input formControlName="eMail" type="text" placeholder="Email">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.eMail.invalid && myForm.controls.eMail.touched">* Bad e-mail format!</p>
                </div>
              </div>
              <div class="section-field mb-3">
                <div class="field-widget"> <i class="glyph-icon flaticon-padlock"></i>
                  <input formControlName="passWd" id="Password" class="Password" type="password" placeholder="Password">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.passWd.invalid && myForm.controls.passWd.touched">* This field is required!</p>
                </div>
              </div>
              <div class="section-field mb-3">
                <div class="field-widget"> <i class="glyph-icon flaticon-padlock"></i>
                  <input formControlName="passWd2" id="ConfirmPassword" class="Password" type="password" placeholder="Confirm Password">
                </div>
                <div class="error">
                  <p *ngIf="myForm.controls.passWd.touched && myForm.controls.passWd2.touched && (myForm.controls.passWd.value != myForm.controls.passWd2.value)">* Passwords not same!</p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="section-field text-uppercase text-center mt-2">
                <a class="button btn-lg btn-theme full-rounded animated right-icn">
                  <button type="submit">
                    <span>next<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span>
                  </button>
                </a>
              </div>
              <div class="clearfix"></div>
              <div class="section-field mt-2 text-center text-white">
                <p class="lead mb-0">Have an account? <a class="text-white" href="login.html" ><u>Sign In!</u> </a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

