<app-header-component></app-header-component>

<section class="inner-intro bg bg-fixed bg-overlay-black-60">
  <div class="container">
    <div class="row intro-title text-center">
      <div class="col-md-12">
        <div class="section-title">
          <h1 class="position-relative divider">profile <span class="sub-title">profile</span></h1>
        </div>
      </div>
      <div class="col-md-12 mt-7">
        <ul class="page-breadcrumb">
          <li><a routerLink="/main"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><a routerLink="/myProfile">Profile</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>Profile</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-user-filter (search)="doSearch($event)"></app-user-filter>

<section class="page-section-ptb pt-3 profile-slider">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-8 text-center">
        <h2 class="title divider">All Profiles</h2>
      </div>
    </div>
    <table class="profiles">
      <thead>
        <div class="row mb-5 sm-mb-3">
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/01.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Martin Harris</h5>
                  <span class="text-black">23 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/02.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Samuel Russell</h5>
                  <span class="text-black">21 Years Old</span>
                </div>
              </a> </div>
          </div>

          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/03.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Mittie Webster</h5>
                  <span class="text-black">19 Years Old</span>
                </div>
              </a> </div>
          </div>

          <div class="col-md-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/04.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Brent Rhodes</h5>
                  <span class="text-black">20 Years Old</span>
                </div>
              </a> </div>
          </div>

        </div>
        <div class="row mb-5 sm-mb-3">
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/05.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Lillian Higgins</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/06.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Duane Vaughn</h5>
                  <span class="text-black">23 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/07.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Celia Wolfe</h5>
                  <span class="text-black">19 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/08.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Adeline Roberts</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
        </div>
        <div class="row mb-5 sm-mb-3">
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/05.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Lillian Higgins</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/06.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Duane Vaughn</h5>
                  <span class="text-black">23 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/07.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Celia Wolfe</h5>
                  <span class="text-black">19 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/08.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Adeline Roberts</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
        </div>
        <div class="row mb-5 sm-mb-3">
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/05.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Lillian Higgins</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/06.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Duane Vaughn</h5>
                  <span class="text-black">23 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/07.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Celia Wolfe</h5>
                  <span class="text-black">19 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/08.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Adeline Roberts</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
        </div>
        <div class="row mb-5 sm-mb-3">
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/05.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Lillian Higgins</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/06.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Duane Vaughn</h5>
                  <span class="text-black">23 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3 sm-mb-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/07.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Celia Wolfe</h5>
                  <span class="text-black">19 Years Old</span>
                </div>
              </a> </div>
          </div>
          <div class="col-md-3">
            <div class="profile-item-hover-1"> <a href="profile-details.html" class="profile-item">
                <div class="profile-image clearfix"><img class="img-fluid" src="/assets/images/profile/08.jpg" alt="" />
                </div>
                <div class="profile-details profile-text">
                  <h5 class="title">Adeline Roberts</h5>
                  <span class="text-black">22 Years Old</span>
                </div>
              </a> </div>
          </div>
        </div>
      </thead>
    </table>
    <div class="row">
      <div class="col-md-12 text-center"> <a class="button  btn-lg btn-theme full-rounded animated right-icn"><span>Show
            More<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
    </div>
  </div>
</section>

<app-footer-component></app-footer-component>