.inner-intro{
    background-image: url(../../../assets/images/other-page-picture.jpg);
    position: relative;
}
.sub-title{
    position: inherit;
}
.postiton-relative{
    position: inherit;
}

.page-section-ptb{
    background-image: url(../../../assets/images/login-bg.png);
}
